@model PartyInvites.Models.Produkt_Razor

@{
    ViewBag.Tittle = "Nazwa produktu";
  //  Layout = "~/Views/_BasicLayout.cshtml";
}
Nazwa produktu: @Model.Name
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Name
    </div>
</body>
</html>
