@model decimal
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="'width=device-width"/>
    <title>Wartość</title>
</head>
<body>
    <div>
        Wartosc calkowita wynosi @Model  zl
    </div>
</body>
</html>