@model PartyInvites.Models.Produkt_Razor

@{
    ViewBag.Title = "NameandPrice";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>Name and Price</h2>
Nazwa produktu to @Model.Name , jego cena to @Model.Price  zł
